<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="NLP, LLM, {{ site.title }}">
    <meta name="author" content="{{ site.title }}">
    <meta name="description" content="{{ site.description }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
</head>
<body>
    <div class="wrapper">
        <div class="navbar container">
            {% if site.ins_logo %}
                <img id="ins-logo" src="{{ site.ins_logo }}" alt="Institute logo">
            {% endif %}
            <a id="author-name" class="alignable pull-left" href="{{ site.baseurl }}/">{{ site.title }}</a>
            <ul id="navlist" class="alignable pull-right navbar-ul">
                {% for item in site.nav %}
                    <li class="alignable pull-left nav-list">
                        <a href="{{ item.link }}">{{ item.name }}</a>{% unless forloop.last %} /{% endunless %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div style="clear:both"></div>
        <hr>
        <div class="container content">
            {{ content }}
            {% if site.footer == true %}
                <hr>
                <p style="text-align:center; margin-bottom:10px">
                    <a href="{{ site.footer_url }}" style="color:black"><small>{{ site.footer_text }}</small></a>
                </p>
            {% endif %}
        </div>
    </div>
</body>
</html>
